<html>

<head>
    <title>Django Girls blog</title>
</head>

<body>
    <div>
        <h1><a href="/">This is not a Blog</a></h1>
    </div>

    <h1>Главно Заглавие</h1> тук би трябвало да се съдържа най-важната информация.
    <h2>Не толкова важно заглавие</h2> за по-маловажна информация.
    <h3>Да затоврим кръга</h3> и така нататък до... <h6>

        <p>Просто параграф от текст</p>
        <em>text</em> emphasizes your text
        <strong>text</strong> strongly emphasizes your text
        <br> goes to another line (you can't put anything inside br and there's no closing tag)
        <a href="http://127.0.0.1:8000/">link</a> creates a link
        <ul>
            <li>first item</li>
            <li>second item</li>
        </ul> makes a list, just like this one!
        
        <div></div> defines a section of the page

            <h2><a href="">Линк, който не води никъде</a></h2>      
        </div>
</body>

</html>